class <%= migration_class_name %> < ActiveRecord::Migration<%= migration_version %>
  def change

    create_table :support_uploads do |t|
      t.string :name
      t.text :description
      t.text :file_data
      t.text :metadata
      t.integer :order
      t.boolean :processing
      t.references :uploadable, polymorphic: true
      t.string :type

      t.timestamps
    end

  end
end